@charset "UTF-8";
/* CSS Document */
/*containers*/

.flexContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	justify-content: space-between;
	align-content: flex-start;
	align-items: stretch;
}

.flexContainer > * {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    order: 0;
}

.flexContainer a {
	color: #055BAE;
}

.flexContainer p, .flexContainer li, .flexContainer td {
	font-size: 14px;
}

/*design 2*/

@media only screen and (min-width: 2000px)  {
	.homeSection1 {
		display:flex;
		flex-direction: column;
		height: 500px;
		width: max-width;
	}

	.homeSection1 {
	background-image: url("https://blogmain.s3-us-west-1.amazonaws.com/images/A_tower_of_used_books_-_8444.jpeg");
	background-repeat: no-repeat;
    	background-size: cover;
    	justify-content: center; 
	}

	.homeSection1 p {
		text-align: center;
	}

.homecontainer {
      	display: flex;
     	flex-direction: row;
      	width: 100%;
	margin: auto;	
	background-color: #666666;
	border-style: ridge;
	border-width: 5px; 
	border-color: white;
	}
	
	.homecontainer p {
		color: white;
	}
	
.gridContainer {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
	margin: auto;	
      grid-template-columns: auto auto auto;
      grid-template-rows: 400px;
      grid-template-areas: 
      "left" "center" "right";
      justify-content: center;
  }  		

		#two {
		grid-area: left;
		}
		#three {
		grid-area: center;
		}
		#four {
		grid-area: right;
		}
}
