@charset "UTF-8";
/* CSS Document */
/*containers*/

.flexContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	justify-content: space-between;
	align-content: flex-start;
	align-items: stretch;
}

.flexContainer > * {
	flex: 1 1 100%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    order: 0;
}

.flexContainer a {
	color: #055BAE;
}

.flexContainer p, .flexContainer li, .flexContainer td {
	font-size: 14px;
}

/*design 2*/

@media screen and (min-width: 0) and (max-width: 1835px) and (orientation: portrait) {
	.homeSection1 {
		display:flex;
		flex-direction: column;
		background-image: "https://blogmain.s3-us-west-1.amazonaws.com/images/A_tower_of_used_books_-_8444.jpeg";
		height: 500px;
		width: max-width;
		background-repeat: no-repeat;
    	background-size: cover;
    	justify-content: center; 
	}

	.homeSection1 p {
		text-align: center;
	}

@media screen and (min-width: 0px) and (max-width: 1835px) {
.Container {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
		margin: auto;	
      grid-template-columns: auto auto auto;
      grid-template-rows: 400px;
      grid-template-areas: 
      "left" "center" "right";
      justify-content: center;
  }  		

		#two {
		grid-area: left;
		}
		#three {
		grid-area: center;
		}
		#four {
		grid-area: right;
		}
}


.card1 {
	display: block;
	border: 2px;
	border-color: grey;
	box-sizing: border-box; 
	height: 100px;
	width; 350px
	padding: 0;
    background-color: #F0EDEC;
    border-radius: 10px;
    box-shadow: -2px 7px 14px -5px rgb(56 56 56 / 58%);
    cursor: pointer;
    margin-bottom: 40px;
}

