@charset "UTF-8";
/* CSS Document */
/*containers*/

.flexContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	justify-content: space-between;
	align-content: flex-start;
	align-items: stretch;
}

.flexContainer > * {
	flex: 1 1 100%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    order: 0;
}

.flexContainer a {
	color: #055BAE;
}

.flexContainer img {
	max-width: 100% !important;
	height: auto; 
	verticle-align: middle; 
	border: 0; 
	-ms-interpolation-mode: bicubic; 
}

.flexContainer p, .flexContainer li, .flexContainer td {
	font-size: 14px;
}

.container {
      display:grid;
	width: 100%;
	margin: auto;	
      grid-template-columns: auto auto;
      grid-template-rows: 1200px 100px;
      grid-template-areas: 
      "mainleft mainright"
      "ft ft";
  }
  	/*#one {
  	grid-area: hd;
 	 }*/
	#two {
	grid-area: mainleft;
	}
	#three {
	grid-area: mainright;
	}
	#four {
	grid-area: ft;
	}
/*
.hompageContainer {
	display: grid;
	width: 100%;
	margin: auto;
	grid-template-columns: 500px 500px; 
	grid-template-rows: 500px;
	grid-gap: 5px;
	grid-template-areas: left right; 
}
*/

.homepageText {
	display: flex;
	flex-direction: column;
	grid-area: mainleft;
	background-color: #EDFAAB;
	width: auto;
}

.homepageImage {
	display: flex;
	flex-direction: column;
	grid-area: mainright;
	max-width: 100%;
	background-color: #EDFAAB;
	}
	
	.homepageImage img {
		float: right;
		padding: .0em 0em;
		flex-wrap: nowrap;
		flex: 1 1 60%;
		align-self: auto;
		background: none repeat scroll 0% 0%;
		max-width: 100%;
		margin-right: 2.692em;
		margin-bottom: 1.154em;
	}
