@charset "UTF-8";
/*CSS Document*/

/*homepage button*/
.btn {
	background-color: #008CBA; /*blue*/
  	border: none;
  	border-radius: 10px;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
 	display: inline-block;
	width: fit-content;
	height: fit-content;
  	font-size: 16px;
  	font-family: sans-serif;
}

.btn: hover {
  	background-color: #4CAF50; /* Green */
  	text-color: white;
  }
