@charset "UTF-8";
/*CSS Document*/

/*homepage button*/

.homesectionbtn, .homecontainerbtn {
    display: inline;
    background-color: #008CBA;
    border: none;
    border-radius: 10px;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    /* position: absolute; */
    top: 30%;
    justify-content: center;
    left: 45%;
    z-index: 1;
}

/*regular button*/
.btn {
	display: inline;
	background-color: #008CBA; /*blue*/
  	border: none;
  	border-radius: 10px;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
	width: fit-content;
	height: fit-content;
  	font-size: 16px;
  	font-family: sans-serif;
	z-index:1; 
}

.btn: hover {
  	background-color: #4CAF50; /* Green */
  	text-color: white;
  }
